/* Tags */

html, body {
  min-height: 100%;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background: linear-gradient(#14aef5, #000000);
}

h1 {
  color: white;
  margin-left: 20px;
}

span {
  font-size: larger;
}

/* Classes */

.btn {
  height: 60px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.btn:hover {
  color: #fff !important;
  text-decoration: none;
  border-color: white !important;
}

.btn-facebook {
  background-color: #3b5999;
  border-color: #3b5999;
}

.btn-instagram {
  background-color: #e4405f;
  border-color: #e4405f;
}

.btn-youtube {
  background-color: #cd201f;
  border-color: #cd201f;
}

.btn-whatsapp {
  background-color: #25d366;
  border-color: #25d366;
}
